<a href="https://colab.research.google.com/github/9618512758/TCS-CODE-VITA-/blob/main/python_code_vita_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(10):
  print(i , end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
a=[1,2,3,4,5,6,7,8]
for i in a:
  print(i,end=" ")

1 2 3 4 5 6 7 8

In [19]:
a="python"
for i in a:
  if a=='t':
    print(i)

In [20]:
a="tanmayee"
count=0
for i in a:
  if i =='e':
    count+=1
    print(count ,end=' ')

1 2

In [22]:
n=int(input())
if(n>=45 and n<=41):
  print("A")
elif(n>=36 and n<=40):
  print("B")
elif(n>=31 and n<=35):
  print("C")
elif(n>=0 and n<=34):
  print("D")
else:
  print("invalid")

50
invalid

In [43]:
n=int(input())
a=n
sum=0
while a!=0:
  digit=a%10
  factorial=1
  for i in range(1,digit+1):
    factorial=factorial*i
  sum=sum+factorial
  a=a//10
if(sum==n):
      print("strong number")
else:
      print("not a strong number")

145
strong number

In [38]:
num=int(input())
num=num*num
print(num)

5
25

In [41]:
l1=[10,20,30,40,50]
a=l1[1:5:2]
print(a)

[20, 40]

In [45]:
a=list(map(int,input().split()))
s=a[0:6:2]
print(s)

10  20  30  40  50  60
[10, 30, 50]

In [49]:
n=int(input())
for i in range(1,10):
  print(n*i,end=" ")

7
7 14 21 28 35 42 49 56 63